*,
*::after,
*::after {
    box-sizing: inherit;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}



.container {
    outline: 2px solid tomato;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
 

    /* margin-bottom: 94px; */
}

ul {
    list-style: none;
}

a{
    text-decoration: none;
}

/* HEADER */

.navigation {
    display: flex;
    align-items: center;
}

.navigation ul {
    display: flex;
    /* justify-items: center; */
}

.navigation img {
    margin-right: 49px;
}

.nav-img {
    display: flex;
}

.social-icon{
    width: 30px;
    height: 30px;
}

.nav-img li:not(:last-child){
    margin-right: 12px;
}

.header-container {
    outline: 1px solid tomato;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.nav-list li + li{
    margin-left: 38px;
}

.nav-link a{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px; 
     color: #333333
}

.nav-list .li a {
    margin: 0;
    display: block;

}

.nav-list{
display: flex;

    padding: 0;
    margin: 0;
}

.nav-img{
    padding: 0;
    margin: 0;
}

/* HERO */

.hero-title{
    text-transform: uppercase;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    font-size: 42px;
    line-height: 49px;

}
.yellow-text {
    color: #ECBF2E;

}

.red-text {
color: #C90C31;
}

